html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "nta", Helvetica, Arial, sans-serif;
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);
  font-weight: 400;
  text-transform: none;
  color: $black;
}

p {
  margin: $spacingSmall 0 $gutter 0;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  @include govuk-font(48, $weight: bold);
}

h2 {
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
  @include font-size(36px, 30px);
  @include line-height(40 / 36, 25 / 24);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 1.0416666667em;
    margin-bottom: 0.4166666667em;
  }
}

h3 {
  margin-top: 1.875em;
  margin-bottom: 0.8333333333em;
  @include font-size(24px, 24px);
  @include line-height(30 / 24, 30 / 24);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
  }
}

h4 {
  margin-top: 1.0526315789em;
  margin-bottom: 0.3125em;
  @include font-size(19px, 19px);
  @include line-height(25 / 19, 25 / 19);

  @media (max-width: $mobileMaxWidth) {
    margin-top: 0.625em;
  }
}


h5, h6 {
  margin-top: 0.2631578947em;
  margin-bottom: 1.0526315789em;
  @include font-size(16px, 16px);
  @include line-height(20 / 16, 20 / 16);
}


//extend
ul {
  @extend %govuk-list;
  @extend %govuk-list--bullet;
}
ol {
  @extend %govuk-list;
  @extend %govuk-list--number;
}
table {
  @extend %govuk-body-m;
}

ul {
//pagination
  &.list-inline {
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
    }
  }
}
ul.children {
  margin-top: 0;
}

